* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.header div {
  margin: 5px;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.highscore-link a {
  text-decoration: none;
  color: purple;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px 150px;
}

.questions {
  width: 100%;
  padding: 10px 35px;
  text-align: center;
}
.questions p {
  font-size: 20px;
  line-height: 1.2;
}

.answers {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  background-color: #351c75;
  color: white;
  font-size: 24px;
  border-radius: 15px;
}

.start-quiz {
  height: 60px;
  width: 180px;
  padding: 5px;
  margin-top: 15px;
}

.answer-option {
  width: 400px;
  height: 60px;
  margin-right: 500px;
  text-align: left;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.answer-option:hover {
  cursor: pointer;
  background-color: blueviolet;
}

.questions h2 {
  font-size: larger;
  color: blue;
}
.questionaire {
  text-align: left;
}

.submit-button {
  padding: 5px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.title h1{
  justify-content: center;
}

.highscore {
  padding: 5px;
}

#scores {
  width: 100%;
  padding: 20px 250px;
  text-align: left;
}
#scores ol {
  list-style-position: inside;
}

#scores li {
  color: white;
  width: 125px;
  padding: 5px;
  font-size: larger;
  background-color: blueviolet;
}

#initials-form label {
  font-size: larger;
}

#initials-form input {
  height: 30px;
  width: 200px;
}

